@page
@inject SignInManager<IdentityUser> SignInManager
@model AdminLoginModel
@{
    ViewData["Title"] = "Log In";
}

@if (!SignInManager.IsSignedIn(User))
{
    <form method="post">
        <label>
            Password
            <input name="password" type="Password">
        </label>
    </form>
}
